<footer class="footer">
    <div class="footer-top aos" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget mb-3 mb-lg-0">
                        <h4 class="footer-title">Pages</h4>
                        <ul>
                            <li><a href="{{ROOT}}index.html" data-nav="index">Home</a></li>
                            <li><a href="{{ROOT}}pages/core/features.html" data-nav="features">Product Features</a></li>
                            <li><a href="{{ROOT}}pages/blog/blog.html" data-nav="blog">Latest Blog Posts</a></li>
                            <li><a href="{{ROOT}}pages/core/contact.html" data-nav="contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget mb-3 mb-lg-0">
                        <h4 class="footer-title">Features</h4>
                        <ul>
                            <li><a href="{{ROOT}}pages/features/payroll-management-software.html">Payroll</a></li>
                            <li><a href="{{ROOT}}pages/features/attendance-management-software.html">Attendance</a></li>
                            <li><a href="{{ROOT}}pages/features/leave-management-software.html">Leaves</a></li>
                            <li><a href="{{ROOT}}pages/features/hr-management-software.html">HR Software</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget mb-3 mb-lg-0">
                        <h4 class="footer-title">UK Location</h4>
                        <address class="mb-0">
                            <p>City Business Centre,<br>
                                11a Lower Rd,<br>
                                London SE16 2XB<br>
                                Contact: +44 7438823475</p>
                        </address>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget mb-3 mb-lg-0">
                        <h4 class="footer-title">India Location</h4>
                        <address class="mb-4">
                            <p>22, Sri Kanchi Nagar,<br>
                                Cheranmanagar,<br>
                                Coimbatore, India - 641035.<br>
                                Contact: +91 9942576886</p>
                        </address>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-12">
                        <div class="copyright-text">
                            <p class="mb-0">Copyright © 2025 NeexQ. All rights reserved.
                                <span class="ftr-links">
                                    <a href="{{ROOT}}pages/legal/privacy-policy.html">Privacy Policy</a> |
                                    <a href="{{ROOT}}pages/legal/terms-conditions.html">Terms and Conditions</a>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12">
                        <div class="social-icon text-end">
                            <ul class="justify-content-end">
                                <li>
                                    <a href="https://www.linkedin.com/company/new-hrms/" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/neexq.tech/" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://youtube.com/@neexq" target="_blank">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
