<header class="header">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg header-nav">
			<div class="navbar-header">
				<a id="mobile_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				<a href="{{ROOT}}index.html" class="navbar-brand logo">
					<img src="{{ROOT}}assets/img/logo4.png" class="img-fluid" alt="Logo">
				</a>
				
				<a href="{{ROOT}}index.html" class="navbar-brand logo-small">
					<img src="{{ROOT}}assets/img/logo4.png" class="img-fluid" alt="Logo">
				</a>
			</div>
			<div class="main-menu-wrapper">
				<div class="menu-header">
					<a href="{{ROOT}}index.html" class="menu-logo">
						<img src="{{ROOT}}assets/img/logo4.png" class="img-fluid" alt="Logo">
					</a>
					<a id="menu_close" class="menu-close" href="javascript:void(0);">
						<i class="fas fa-times"></i>
					</a>
				</div>
				<ul class="main-nav">
					<li>
						<a href="{{ROOT}}index.html" data-nav="index">Home</a>
					</li>
					<li class="has-submenu megamenu" data-nav-group="features">
						<a href="{{ROOT}}pages/core/features.html" data-nav="features">Features <i class="fas fa-chevron-down"></i></a>
						<ul class="submenu solution-submenu mega-submenu homemega">
							<li>
								<div class="megamenu-wrapper">
									<div class="row">
										<div class="col-lg-6 col-xl-3 d-flex">
											<div class="single-demo">
												<a href="{{ROOT}}pages/features/attendance-management-software.html" data-nav="attendance-management-software" data-parent-nav="features">
													<div class="trail-wrap">
														<div class="trail-content">
															<div class="free-trail-icon">
																<img src="{{ROOT}}assets/img/icons/attendance.svg" alt="Icons" class="img-fluid">
															</div>
															<div class="trail-sales-content">
																<h6>Attendance</h6>
																<p>Easily Manage Attendance with Our Advanced Tracking System.</p>
															</div>
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="col-lg-6 col-xl-3 d-flex">
											<div class="single-demo">
												<a href="{{ROOT}}pages/features/leave-management-software.html" data-nav="leave-management-software" data-parent-nav="features">
													<div class="trail-wrap">
														<div class="trail-content">
															<div class="free-trail-icon">
																<img src="{{ROOT}}assets/img/icons/leaves-menu-icon.svg" alt="Icons" class="img-fluid">
															</div>
															<div class="trail-sales-content">
																<h6>Leaves</h6>
																<p>Simplify leave management and handle leave requests effortlessly.</p>
															</div>
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="col-lg-6 col-xl-3 d-flex">
											<div class="single-demo">
												<a href="{{ROOT}}pages/features/hr-management-software.html" data-nav="hr-management-software" data-parent-nav="features">
													<div class="trail-wrap">
														<div class="trail-content">
															<div class="free-trail-icon">
																<img src="{{ROOT}}assets/img/icons/hr-software.svg" alt="Icons" class="img-fluid">
															</div>
															<div class="trail-sales-content">
																<h6>HR Software</h6>
																<p>Enhance employee experiences with our efficient HR software.</p>
															</div>
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<a href="{{ROOT}}pages/core/contact.html" data-nav="contact">Contact Us</a>
					</li>
				</ul>
			</div>
			<ul class="nav header-navbar-rht">
				<li class="nav-item">
					<a class="btn deep-grey-btn" href="https://wa.me/+919265058370?text=Connect%20to%20us" target="_blank">
						<span><i class="feather-message-circle"></i></span>
						Chat with us
					</a>
				</li>
				<li class="nav-item ms-2">
					<a class="nav-link home-right-btn btn secondary-btn" href="{{ROOT}}pages/core/freetrail.html" data-nav="freetrail">
						Get a Free Trial
						<span><i class="feather-arrow-right-circle"></i></span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>

